<h1>Peer Group Pairs for <%= @this_wednesday.strftime('%A %d %b %Y')  %></h1>

<br />
  <% @peer_pairs.each_with_index do |peer_pair,i| %>
    Peer Group Pair <%= i+1 %><br />
    <%= peer_pair %><br />
    Zoom link: <%= @zoom_links[i] %><br />
    <br />
  <% end %>
<br />
